@import '../../global/variables';

.window {
  min-width: 600px;
  position: fixed;
}

.bar {
  align-items: center;
  background-color: $white;
  border: 2px solid $black;
  bottom: 100%;
  cursor: move;
  display: flex;
  left: 0;
  padding: 5px 10px;
  position: absolute;
  text-align: left;
  width: 100%;
}

.content {
  background-color: $white;
  border: 2px solid $black;
  border-top: 0;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 100%;

  .minimized & {
    display: none;
  }
}

.title {
  float: left;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.minimize {
  cursor: pointer;
  display: block;
  float: right;
  height: 16px;
  margin-left: auto;
  width: 10px;
}
