.thumbs {
  align-items: flex-start;
  display: flex;
  min-height: 185px;
}

.image {
  bottom: 0;
  cursor: pointer;
  height: auto;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 500px;
}
