@import './variables';

@font-face {
  font-family: 'gap-sans';
  font-weight: 400;
  src: url('./fonts/gapsans-webfont.eot?') format('eot'),
       url('./fonts/gapsans-webfont.woff') format('woff'),
       url('./fonts/gapsans-webfont.woff2') format('woff2'),
       url('./fonts/gapsans-webfont.ttf') format('truetype'),
       url('./fonts/gapsans-webfont.svg') format('svg');
}

@font-face {
  font-family: 'gap-sans';
  font-weight: 700;
  src: url('./fonts/gapsansbold-webfont.eot?') format('eot'),
       url('./fonts/gapsansbold-webfont.woff') format('woff'),
       url('./fonts/gapsansbold-webfont.woff2') format('woff2'),
       url('./fonts/gapsansbold-webfont.svg') format('svg'),
       url('./fonts/gapsansbold-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'gap-sans';
  font-weight: 900;
  src: url('./fonts/gapsansblack-webfont.eot?') format('eot'),
       url('./fonts/gapsansblack-webfont.woff') format('woff'),
       url('./fonts/gapsansblack-webfont.woff2') format('woff2'),
       url('./fonts/gapsansblack-webfont.svg') format('svg'),
       url('./fonts/gapsansblack-webfont.ttf') format('truetype');
}

html {
  box-sizing: border-box;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

a {
  color: inherit;
}

input,
textarea {
  appearance: none;
  background: none;
  border: 2px solid $black;
  border-radius: 0;
  display: block;
  font-family: $primary-font;
  font-size: 18px;
  padding: .55556em;
  width: 100%;

  & + & {
    margin-top: 10px;
  }
}

button {
  appearance: none;
  background: none;
  border: 2px solid $black;
  border-radius: 0;
  font-family: $primary-font;
  font-size: 16px;
  margin-left: 5px;
}

.btn {
  align-items: center;
  border: 2px solid $black;
  display: flex;
  height: 30px;
  justify-content: space-around;
  text-align: center;
  width: 30px;

  &.active {
    background-color: $black;

    img {
      filter: invert(100%);
    }
  }

  img {
    height: auto;
    width: 100%;
  }
}

body {
  font-family: $primary-font;
}
