@import './variables';

html {
  box-sizing: border-box;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

a {
  color: inherit;
}

input,
textarea {
  appearance: none;
  background: none;
  border: 2px solid $black;
  border-radius: 0;
  display: block;
  font-family: $primary-font;
  font-size: 18px;
  padding: .55556em;
  width: 100%;

  & + & {
    margin-top: 10px;
  }
}

button {
  appearance: none;
  background: none;
  border: 2px solid $black;
  border-radius: 0;
  font-family: $primary-font;
  font-size: 16px;
  margin-left: 5px;
}

.btn {
  align-items: center;
  border: 2px solid $black;
  display: flex;
  height: 30px;
  justify-content: space-around;
  text-align: center;
  width: 30px;

  &.active {
    background-color: $black;

    img {
      filter: invert(100%);
    }
  }

  img {
    height: auto;
    width: 100%;
  }
}

body {
  font-family: $primary-font;
}
